body { margin: 0; padding: 0; }

.container { height: auto; background: url("https://s3.ap-northeast-2.amazonaws.com/usedbookstore-bucket/static/images/dryflower.png"); background-repeat: no-repeat; background-size: cover; padding: 100px 0; }

.container .form-wrap { height: auto; background: rgba(0, 0, 0, 0.3); width: 80%; margin: 0 10%; padding: 25px 0; position: relative; }

.container .form-wrap p { width: 90%; margin: 0 5%; margin-bottom: 20px; color: #fafafa; }

.container .form-wrap .room-name { width: 90%; margin: 0 4%; padding: 1%; height: 20px; border: none; }

.container .form-wrap #autocomplete { width: 90%; margin: 0 4%; padding: 10px 1%; z-index: 3; position: absolute; top: 97px; left: 0px; background: #f1f1f1; display: none; }

.container .form-wrap .date-wrap { width: 92%; margin: 20px 4%; float: left; }

.container .form-wrap .date-wrap .day { width: 49.5%; margin-right: 0.5%; float: left; }

.container .form-wrap .date-wrap .day .select-left { width: 100%; border: none; border-radius: 0; height: 30px; background: #333; color: #fafafa; cursor: pointer; }

.container .form-wrap .date-wrap .day .target-left { width: 98%; border: none; padding: 1%; height: 25px; float: left; }

.container .form-wrap .date-wrap .time { width: 49.5%; margin-left: 0.5%; background: #ddd; float: right; }

.container .form-wrap .date-wrap .time .select-right { width: 100%; border: none; border-radius: 0; height: 30px; background: #333; color: #fafafa; cursor: pointer; }

.container .form-wrap .date-wrap .time .target-right { width: 98%; border: none; padding: 1%; height: 25px; float: left; }

.container .form-wrap .regi-btn { width: 92%; margin: 5px 4%; height: 35px; border: none; border-radius: 0; background: #333; color: #fafafa; cursor: pointer; font-size: 15px; }
