#scheduler {
  margin: 0 5%; }
  #scheduler .desc {
    width: 45%;
    height: 398px;
    background: #333;
    color: #fafafa;
    float: left; }
    #scheduler .desc .date {
      text-align: center; }
      #scheduler .desc .date p {
        margin: 20px 0 5px 0;
        font-size: 56px;
        font-weight: 900; }
      #scheduler .desc .date hr {
        width: 35px;
        margin-bottom: 25px; }
      #scheduler .desc .date span {
        color: #6cc091; }
    #scheduler .desc .description {
      padding: 15px;
      margin-top: 40px; }
      #scheduler .desc .description .room {
        border-radius: 0;
        font-size: 14px;
        color: #fafafa;
        border-bottom: none;
        padding: 5px 10px;
        cursor: pointer; }
      #scheduler .desc .description .active {
        background: rgba(225, 225, 225, 0.3); }
      #scheduler .desc .description .no-active {
        background: transparent; }
        #scheduler .desc .description .no-active:hover {
          border-top: 1px solid #6cc091;
          border-left: 1px solid #6cc091;
          border-right: 1px solid #6cc091;
          color: #6cc091; }
      #scheduler .desc .description ul {
        border: 1px solid #f1f1f1;
        margin: 0; }
        #scheduler .desc .description ul li {
          line-height: 35px; }
          #scheduler .desc .description ul li .time {
            display: inline-block;
            width: 115px; }
          #scheduler .desc .description ul li .reserve {
            background: transparent;
            border: 1px solid #fafafa;
            border-radius: 20px;
            color: #fafafa;
            padding: 5px 10px; }
  #scheduler .calendar {
    width: 50%;
    margin: 15px 2.5% 40px 2.5%;
    text-align: center;
    border-collapse: collapse;
    font-weight: bold;
    float: left; }
    #scheduler .calendar .month {
      font-size: 22px; }
      #scheduler .calendar .month td {
        padding: 25px; }
        #scheduler .calendar .month td .prev-next {
          border: none;
          color: #ddd;
          width: 50px; }
    #scheduler .calendar .summit {
      color: #8d8d8d; }
      #scheduler .calendar .summit td {
        height: 30px;
        line-height: 30px;
        padding-top: 5px;
        margin-bottom: 5px;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2; }
    #scheduler .calendar .row {
      color: pink; }
      #scheduler .calendar .row td {
        width: 14.2%;
        height: 40px;
        padding-top: 5px; }
        #scheduler .calendar .row td a {
          text-decoration: none;
          color: #5d5d5d; }
